{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Tubelight</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
		<link rel="icon" href="{% static 'images/logo-bgremoved-small.png' %}">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="{% static 'images/logo-bgremoved-small-white.png' %}" alt="" /></span>
						<h1>Tubelight</h1>
						<p>Manage your event gatherings with ease and efficiency<br /><br>
						{% if not request.session.is_authenticated %}
						<a href="{% url 'login' %}" class="button small">Login</a> 
						<a href="{% url 'register' %}" class="button small">Register</a>
						{% else %}
						<a href="{% url 'display_events' %}" class="button small">Tubes</a> 
						<a href="{% url 'logout' %}" class="button small">Logout</a>
						<a href="{% url 'templates_menu' %}" class="button small">Templates</a>
						{% endif %}
						</p>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Introduction</a></li>
							{% if not request.session.is_authenticated %}
							<li><a href="#registeration">Registeration</a></li>
							{% endif %}
							<li><a href="#files">Manage Files</a></li>
							<li><a href="#location">Venue Location Access</a></li>
                            <li><a href="#invitation">Download Invitation</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section class="main">
								<div class="spotlight" id="intro">
									<div class="content">
										<header class="major">
											<h2>Event Management Simplified</h2>
										</header>
										<p>Organize and manage your events effortlessly with Tubelight. 
											Stay in control and make event planning a dosa.</p>
										<ul class="actions">
											<li><a href="{% url 'display_events' %}" class="button">View Events</a></li>
										</ul>
									</div>
									<span class="image"><img src="{% static 'images/logo 1.png' %}" alt="" /></span>
								</div>
								{% if not request.session.is_authenticated %}
								<div class="spotlight" id="registeration">
									<div class="content">
										<header class="major">
											<h2>Seamless Registration</h2>
										</header>
										<p>Easy login and registration processes ensure a smooth and secure experience for all users.</p>
										<ul class="actions">
											<li><a href="{% url 'register' %}" class="button">Get Started</a></li>
										</ul>
									</div>
									<span class="image"><img src="{% static 'images/Logo 2.PNG' %}" alt="" /></span>
								</div>
								{% endif %}
								<div class="spotlight">
									<div class="content" id="files">
										<header class="major">
											<h2>Manage Files Required in the Event</h2>
										</header>
										<p>Upload, organize, and manage all files needed for your event in one convenient dosa. From documents to media, keep everything at your fingertips.</p>
										<p>Access, update, and share files effortlessly to ensure everyone has what they need for a successful event.</p>
									</div>
									<span class="image"><img src="{% static 'images/Logo 2.PNG' %}" alt="" /></span>
								</div>
								<div class="spotlight">
									<div class="content" id="location">
										<header class="major">
											<h2>Easy Venue Location Access</h2>
										</header>
										<p>Find your way to the event with integrated venue location features, so you never miss a beat.</p>
										<p>Get directions, check the venue’s location, and even view nearby amenities to make event attendance a breeze.</p>
									</div>
									<span class="image"><img src="{% static 'images/Logo 3.PNG' %}" alt="" /></span>
								</div>
                                

						<!-- Second Section -->
							<section class="main special" id="invitation">
								<header class="major">
									<h2>Download Your Invitation</h2>
									<p>Download our website themed event invitations to share with friends, family, or colleagues.</p>
                    				<p>Ensure every guest has a seamless experience, starting with an invitation that makes an impression.</p>
								</header>
							</section>

							<!-- <section>
								<ul class="statistics">
									<li class="style1">
										<span class="icon solid fa-code-branch"></span>
										<strong>5,120</strong> Etiam
									</li>
									<li class="style2">
										<span class="icon fa-folder-open"></span>
										<strong>8,192</strong> Magna
									</li>
									<li class="style3">
										<span class="icon solid fa-signal"></span>
										<strong>2,048</strong> Tempus
									</li>
									<li class="style4">
										<span class="icon solid fa-laptop"></span>
										<strong>4,096</strong> Aliquam
									</li>
									<li class="style5">
										<span class="icon fa-gem"></span>
										<strong>1,024</strong> Nullam
									</li>
								</ul>
								<p class="content">Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu arcu faucibus hendrerit vel a risus. Nam a orci mi, elementum ac arcu sit amet, fermentum pellentesque et purus. Integer maximus varius lorem, sed convallis diam accumsan sed. Etiam porttitor placerat sapien, sed eleifend a enim pulvinar faucibus semper quis ut arcu. Ut non nisl a mollis est efficitur vestibulum. Integer eget purus nec nulla mattis et accumsan ut magna libero. Morbi auctor iaculis porttitor. Sed ut magna ac risus et hendrerit scelerisque. Praesent eleifend lacus in lectus aliquam porta. Cras eu ornare dui curabitur lacinia.</p>
								<footer class="major">
									<ul class="actions special">
										<li><a href="generic.html" class="button">Learn More</a></li>
									</ul>
								</footer>
							</section> -->

						<!-- Get Started -->
						{% if not request.session.is_authenticated %}
							<section id="cta" class="main special">
								<header class="major">
									<h2>Sounds amazing?</h2>
									<p>Register with our website and get started with all of the amazing features.</p>
									<p>Already a user? <a href="">Login</a> now</p>
								</header>
								<footer class="major">
									<ul class="actions special">
										<li><a href="generic.html" class="button primary">Register</a></li>
										<li><a href="generic.html" class="button">Login</a></li>
									</ul>
								</footer>
							</section>
						{% endif %}

					</div>
					<div class="spotlight">
						<div class="content" id="location">
							<header class="major">
								<h2><br><b><center>Hear from our customers</center>  </b></h2>
							</header>
							<p><b>1. Ayush Gupta</b>
								<span style="float: right;">⭐⭐⭐⭐⭐</span><br /><br />
								"I recently used Tubelight for my wedding, and I couldn't be happier with the experience! From the moment I started browsing their services, everything felt easy and seamless. The website was so user-friendly, and I loved how they provided a range of customizable options. The team was attentive, and they truly understood my vision. Our event went off without a hitch, and our guests had the best time. I highly recommend Tubelight for anyone looking to plan a special occasion."</p>
							<p><b>2. Andrew Anbu</b>
								<span style="float: right;">⭐⭐⭐⭐⭐</span><br /><br />
								"I had an amazing experience with Tubelight for my corporate event. The platform made everything so much easier, and the team was incredibly professional. I loved the tools they provided to track the progress and the communication throughout the planning. On the day of the event, everything went smoothly, and it was exactly as I had envisioned. Tubelight is definitely my go-to for any future events."
								</p>
							<p><b>3. Skibidi Toilet</b>
								<span style="float: right;">⭐⭐⭐⭐⭐</span><br /><br />
								"I used Tubelight for my birthday party and was impressed with the variety of options available for different types of events. The layout of the website is sleek, and it was easy to navigate. The event went great, and the staff was super helpful in making sure every detail was handled. Only reason I’m giving it four stars is that I had some initial hiccups in communication, but they resolved it quickly. Still, very happy overall!"
								</p> 
							<p><b>4. Adwin Michael Afton</b>
								<span style="float: right;">⭐⭐⭐⭐⭐</span><br /><br />
								"Tubelight made planning my anniversary celebration a breeze! I loved how they offered a wide range of themes and vendors to choose from. The best part was the ability to collaborate with their team directly through the website, which kept everything organized. Everything was delivered on time, and the event turned out even better than I imagined. If you’re looking for hassle-free event planning, Tubelight is the way to go."
								
								</p>           
						</div>
						
					</div>
				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>About the developers</h2>
							<p>A project by <strong><br>Aryan Asnani<br>Ayush PV<br>Dosaidli</strong></p>
							<ul class="actions">
								<li><a href="generic.html" class="button">Learn More</a></li>
							</ul>
						</section>
						<section>
							<h2>Emails</h2>
							<b>Get in touch with us</b>
							<ul class="alt">
								<li><a href="mailto:vscodelivesharearyan@outlook.com">vscodelivesharearyan@outlook.com</a></li>
								<li><a href="mailto:AyushVScode@outlook.com">AyushVScode@outlook.com</a></li>
								<li><a href="mailto:vscodelivesharenigatron@outlook.com">vscodelivesharenigatron@outlook.com</a></li>
							</ul>
							<ul class="icons">
								<li><a href="https://github.com/A-a2008/EventHub" class="icon brands fa-github alt" target="_blank"><span class="label">GitHub</span></a></li>
							</ul>
						</section>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>