{% extends 'base.html' %}

{% block content %}
<section id="wrapper">
    <header>
        <div class="inner">
            <h2>$title$</h2>
            <p>$subtitle$</p>
        </div>
    </header>

    <!-- Content -->
        <div class="wrapper">
            <div class="inner">
                <form action="/test1form/" method="post">
                    {% csrf_token %}
                    <input type="text" name="name2" placeholder="Enter your name" > <br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

</section>
{% endblock %}