{% extends 'base.html' %}

{% block header %}
<header id="header">
    <h1>Login</h1>
    <p>Login to this site and access your account</p>
</header>
{% endblock %}

{% block content %}
<form action="/accounts/login/" method="post">
    {% csrf_token %}
    {% for message in messages %}
    <font color="red">{{ message }} <br /></font><br />
    {% endfor %}
    <font size="3">Not a User? <a href="/accounts/register">Register</a> yourself here</font><br /><br />
    Username: <input type="text" name="username" placeholder="Username" required ><br />
    Password: <input type="password" name="password" placeholder="Password" required ><br>
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <input type='submit' class="button primary" value="Login">
    <input type="reset" class="button" value="Reset">
</form>
{% endblock %}