{% extends 'base.html' %}
{% load static %}

{% block header %}
<header id="header">
    <h1>Services: {{ service.name }}</h1>
    <p>Add a new entry to the Service</p>
</header>
{% endblock %}

{% block content %}
<!-- <span class="image main"><img src="{% static '$Image$' %}" alt="" /></span> -->
<h2>Fill in the details</h2>
<p>
    <form action="{% url 'add_service' service_id=service.id %}" method="post">
        {% csrf_token %}
        {% for service, service_type in service_details %}
        <label for="{{ service }}">{{ service }}</label>
        <input type="{{ service_type }}" name="{{ service }}" id="{{ service }}" required ><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</p>
{% endblock %}