{% extends 'base.html' %}
{% load static %}

{% block header %}
<header id="header">
    <h1>Create Tube: {{ template.name }}</h1>
    <p>Create a new tube with the <b>{{ template.name }}</b> template.</p>
</header>
{% endblock %}

{% block content %}
<!-- <span class="image main"><img src="{% static '$Image$' %}" alt="" /></span> -->
<h2>Fill in the details</h2>
<p>
    <form action="{% url 'create_tube_template' template_id=template.id %}" method="post">
        {% csrf_token %}
        {% for field, field_type in fields %}
        <label for="{{ field }}">{{ field }}:</label>
        {% if field_type != 'select' %}
        {% if field_type.0 == 'textarea' %}
        <textarea id="{{ field }}" name="field|{{ field }}" required></textarea><br>
        {% elif field_type.0 == 'datetime' %}
        <input type="datetime-local" id="{{ field }}" name="field|{{ field }}" required><br>
        {% else %}
        <input type="{{ field_type.0 }}" id="{{ field }}" name="field|{{ field }}" required><br>
        {% endif %}
        {% else %}
        <select name="{{ field }}" required>
            <option value="" disabled selected hidden>Select...</option>
            {% for option in field_type.1 %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        {% endif %}
        {% endfor %}
        <input type="hidden" name="username" value="{{ request.session.username }}">
        <input type="submit" value="Submit">
    </form>
</p>
{% endblock %}