{% extends 'base.html' %}

{% block header %} 
<header id="header">
    <h1>{{ event.name }}</h1>
    <p>{{ event.description }}</p>
</header>
{% endblock %}

{% block content %}
<a href="{% url 'display_subevents' event_id=event.id %}" class="button">Stop</a><br><br>
Create a new connection: <br>
<form method="POST" action="{% url 'create_subevent' event_id=event.id %}">
    {% csrf_token %}
    Name: <input type="text" name="name" placeholder="Connection Name" required><br>
    Description: <input type="text" name="description" placeholder="Description" required><br>
    Duration (in minutes): <input type="number" name="duration" placeholder="Duration in minutes" required><br><br>
    <input type="submit" value="Create"> <input type="reset" value="Reset">
</form>
<hr>
{% if subevents %}
<table>
    <thead>
        <tr>
            <th>Connection Name</th>
        </tr>
    </thead>
    <tbody>
        {% for subevent in subevents %}
            <tr>
                <td>{{ subevent.name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}