{% extends 'base.html' %}

{% block header %}
<header id="header">
    <h1>Tubes</h1>
    <p>Create and manage your tubes</p>
</header>
{% endblock %}

{% block content %}
{% if event_templates %}
    <h3>Here are your tubes created with templates:</h3>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Template: Tube Name</th>
                    <!-- <th style="text-align: right;">Download Invitation</th>
                    <th style="text-align: right;">Download Files</th> -->
                </tr>
            </thead>
            <tbody>
                {% for event in event_templates %}
                <tr>
                    <td><a href="{% url 'event_subevents_template' template_id=event.template_id event_id=event.id %}">{{ event.template_name }}: <b>{{ event.Name }}</b></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

{% if events %}
    <h3>Here are your tubes:</h3>
    <br><br>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Tube Name</th>
                    <th style="text-align: right;">Download Invitation</th>
                    <th style="text-align: right;">Download Files</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <td><a href="{% url 'display_subevents' event_id=event.id %}">{{ event.name }}</a></td>
                    <td style="text-align: right;"><a href="" class="button small">Download</a></td>
                    <td style="text-align: right;"><a href="{% url 'download_files' event_id=event.id %}" class="button small">Download</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
<a href="{% url 'select_template' %}" class="button">Create Tube with Template</a>
<a href="{% url 'create_event' %}" class="button">Create Tube</a>
{% endblock %}
