{% extends 'base.html' %}
{% load static %}


{% block header %}
<!-- Header -->
    <header id="header">
        <h1>{{ event.name }}</h1>
        <p>{{ event.description }}</p>
    </header>
{% endblock %}

{% block content %}
{% if subevents %}
Here's a list of all the connections for this tube:
<br><br>
<table>
    <thead>
        <tr>
            <th>Connection Name</th>
        </tr>
    </thead>
    <tbody>
        {% for subevent in subevents %}
            <tr>
                <td><a href="{% url 'display_subevent_details' subevent_id=subevent.id %}">{{ subevent.name }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'create_subevent' event_id=event.id %}" class="button">Add Connection</a>
{% else %}
<b>You have no connections for this tube yet.</b> Click on the "Create Connection" button to create a new connection. <br><br>
<a href="{% url 'create_subevent' event_id=event.id %}" class="button">Create Connection</a>
{% endif %}
<hr>
Venue: <br>
<img src="{% static 'images/venues/' %}{{ event.id }}.png" width="500"><br><br>
<a href="{{ event.venue }}" target="_blank">Go to Maps ➡️</a>
{% endblock %}