{% extends 'base.html' %}
{% load static %}

{% block header %}
<header id="header">
    <h1>Services</h1>
    <p>Here is the list of services provided by Tubelight</p>
</header>
{% endblock %}

{% block content %}
<h2>Given below are the services provided by Tubelight</h2>
<p>
    {% if services %}
    {% for service in services %}
    <div class="spotlight" id="intro">
        <div class="content">
            <header class="major">
                <h2>{{ service.name }}</h2>
            </header>
            <ul class="actions">
                <li><a href="{% url 'service_details' service_id=service.id %}" class="button">More Details</a></li>
                <!-- <li><a href="{% url 'add_service' service_id=service.id %}" class="button">Add Entry</a></li> -->
            </ul>
        </div>
    </div>
    {% endfor %}
    {% else %}
    Currently, there are no services.
    {% endif %}
</p>
{% endblock %}